# for now dont update the js files inside implisolid/
implisolid/**/*.js
implisolid/**/*.js.mem

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
implisolid/dist/
lib/eigen/
pymplicit.egg-info/


# demo clean deploy locations
/demos/demo1
temp-files/

.DS_Store
.vscode

#compiled files.
build/
build/**/*
build/*

**/*.pyc


**/*.*~
**/*.log
code-bin

**/*.compiled.js
**/*.compiled.js.mem
**/*.js.mem
