# for now dont update the js files inside implisolid/
implisolid/**/*.js
implisolid/**/*.js.mem

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
implisolid/dist/
lib/eigen/
pymplicit.egg-info/


# demo clean eploy locations
/demos/demo1

.DS_Store

#compiled files.
build/
build/**/*
build/*

**/*.pyc


**/*.*~
**/*.log

**/*.compiled.js
**/*.compiled.js.mem
**/*.js.mem
